name: Deploy Trading Pipeline

permissions:
  id-token: write
  contents: read

on:
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      
    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        role-to-assume: arn:aws:iam::174512274809:role/github-actions-terraform-data-streaming-role
        aws-region: us-east-1
        
    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v3
      with:
        terraform_version: 1.5.0
        
    - name: Make deploy script executable
      run: chmod +x scripts/deployment-automation-scripts/deploy.sh
      
    - name: Deploy infrastructure
      run: ./scripts/deployment-automation-scripts/deploy.sh
