name: Destroy Trading Pipeline

permissions:
  id-token: write
  contents: read

on:
  workflow_dispatch:

jobs:
  destroy:
    runs-on: ubuntu-latest
    if: github.event.inputs.confirm_destroy == 'DESTROY'
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      
    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
          role-to-assume: arn:aws:iam::<aws-account-id>:role/github-actions-terraform-data-streaming-role
          aws-region: us-east-1
        
    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v3
      with:
        terraform_version: 1.5.0
        
    - name: Make destroy script executable
      run: chmod +x scripts/destroy.sh
      
    - name: Destroy infrastructure
      run: .scripts/destroy.sh
